tnkeeh
tkseem
tfds-nightly
datasets
transformers[sentencepiece]
accelerate
seqeval
sacrebleu
rouge_score_ar @ git+https://github.com/ARBML/rouge_score_ar
evaluate
pandas
fsspec==2021.10
s3fs==2021.10
